# Empirical Probability of obtaining a Real Root

This is a continuation of [this work](https://github.com/hungrybluedev/root-from-parameters/blob/master/Empirical%20Probability%20of%20obtaining%20a%20real%20root.ipynb). The difference in this case is that $A$, $B$, and $C$ are sampled from $\mathcal{U}(-\theta, \theta)$ where $\theta \in \mathbb{R}$, and $\theta > 0$.

$A$, $B$, and $C$ are the real coefficients of the quadratic equation: $Ax^2+Bx+C$. For the root to be real, we need to have $B^2-4AC\geq 0$.

In [1]:
import pandas as pd
import random
import statistics as stats

In [2]:
trials = 20_000

In [3]:
def get_random_value(theta):
    """
    The functtion we use to generate values for the coefficients.
    """
    return random.uniform(-theta, theta)

In [4]:
def get_data_row(theta):
    total_count = 0
    favourable_count = 0

    for _ in range(trials):
        b = get_random_value(theta)
        a = get_random_value(theta)
        c = get_random_value(theta)


        if b * b >= 4 * a * c:
            favourable_count += 1

    return [
        theta,
        favourable_count,
        float(favourable_count) / trials
    ]

# Small values of $\theta$

We obtain the probability of a real root for small values of $\theta \in \{1, 2, 3, \ldots, 20\}$

In [5]:
data1 = [get_data_row(theta) for theta in range(1, 21)]

In [6]:
df1 = pd.DataFrame(data1, columns=[
    "Theta",
    "Favourable Outcomes",
    "Probability"
])
df1

    Theta  Favourable Outcomes  Probability
0       1                12556      0.62780
1       2                12312      0.61560
2       3                12492      0.62460
3       4                12593      0.62965
4       5                12466      0.62330
5       6                12534      0.62670
6       7                12479      0.62395
7       8                12469      0.62345
8       9                12532      0.62660
9      10                12522      0.62610
10     11                12546      0.62730
11     12                12547      0.62735
12     13                12515      0.62575
13     14                12566      0.62830
14     15                12454      0.62270
15     16                12449      0.62245
16     17                12440      0.62200
17     18                12479      0.62395
18     19                12479      0.62395
19     20                12614      0.63070

In [7]:
mu1 = stats.mean(df1["Probability"]) * 100
mu1

62.511

In [8]:
sigma1 = stats.stdev(df1["Probability"]) * 100
sigma1

0.3313036451099778

In [9]:
print("The empirical probability for small values of theta is %.2f%% with std-dev %0.2f%%." % (mu1, sigma1))

The empirical probability for small values of theta is 62.51% with std-dev 0.33%.

# Large values of $\theta$

We obtain the probability of a real root for small values of $\theta$. Specifically, $\theta\in\{1000, 1050, 1100, \ldots, 3000\}$.

In [10]:
data2 = [get_data_row(theta) for theta in range(1000, 3001, 50)]

In [11]:
df2 = pd.DataFrame(data2, columns=[
    "Theta",
    "Favourable Outcomes",
    "Probability"
])
df2

    Theta  Favourable Outcomes  Probability
0    1000                12677      0.63385
1    1050                12572      0.62860
2    1100                12596      0.62980
3    1150                12625      0.63125
4    1200                12542      0.62710
5    1250                12709      0.63545
6    1300                12501      0.62505
7    1350                12594      0.62970
8    1400                12588      0.62940
9    1450                12497      0.62485
10   1500                12481      0.62405
11   1550                12566      0.62830
12   1600                12421      0.62105
13   1650                12508      0.62540
14   1700                12510      0.62550
15   1750                12520      0.62600
16   1800                12497      0.62485
17   1850                12468      0.62340
18   1900                12531      0.62655
19   1950                12564      0.62820
20   2000                12569      0.62845
21   2050                12565      0.62825
22   2100                12514      0.62570
23   2150                12593      0.62965
24   2200                12541      0.62705
25   2250                12483      0.62415
26   2300                12443      0.62215
27   2350                12650      0.63250
28   2400                12515      0.62575
29   2450                12460      0.62300
30   2500                12578      0.62890
31   2550                12474      0.62370
32   2600                12625      0.63125
33   2650                12668      0.63340
34   2700                12517      0.62585
35   2750                12494      0.62470
36   2800                12502      0.62510
37   2850                12557      0.62785
38   2900                12490      0.62450
39   2950                12449      0.62245
40   3000                12689      0.63445

In [12]:
mu2 = stats.mean(df2["Probability"]) * 100
mu2

62.72475609756098

In [13]:
sigma2 = stats.stdev(df2["Probability"]) * 100
sigma2

0.3519054404586407

In [14]:
print("The empirical probability for large values of theta is %.2f%% with std-dev %0.2f%%." % (mu2, sigma2))

The empirical probability for large values of theta is 62.72% with std-dev 0.35%.